select#select(placeholder='Tell us what you want to make...')
  option(value='') Tell us what you want to make...
      option(value="Wedding Gifts Decor and Accessories") Wedding Gifts, Decor Accessories
      option(value="Event Gifts Decor and Accessories") Event Gifts, Decor Accessories
      option(value="Corporate Gifts Awards and Promotional Products") Corporate Promotional Products
      option(value="gifts") Gifts
      option(value="Jewelry") Jewelry
      option(value="Home Decor and Accessories") Home Decor, and Accessories
      option(value="Dining") Dining
      option(value="Other") Other