<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#openProjects" aria-controls="openProjects" role="tab" data-toggle="tab">Open Projects</a></li>
    <li role="presentation"><a href="#myProjects" aria-controls="myProjects" role="tab" data-toggle="tab">My Projects</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% block tab_active %}
    <div role="tabpanel" class="tab-pane active" id="openProjects">
      
    </div>
    {% endblock tab_active %}
    {% block tab_myprojects %}
    <div role="tabpanel" class="tab-pane" id="myProjects">...
  
    </div>
    {% endblock tab_myprojects %}
   
  </div>

</div>