<div role="tabpanel">
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#openProjects" aria-controls="openProjects" role="tab" data-toggle="tab">Open Projects</a></li>
    <li role="presentation"><a href="#myProjects" aria-controls="myProjects" role="tab" data-toggle="tab">My Projects</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% block tab_active %}
    <div role="tabpanel" class="tab-pane active" id="openProjects">
      
    </div>
    {% endblock tab_active %}
    {% block tab_myprojects %}
    <div role="tabpanel" class="tab-pane" id="myProjects">...
  
    </div>
    <script type="text/javascript"> 
    $("#myProjects a").click(function(e){
      e.preventDefault()
      $(this).tab("show")
    });
    </script>
     <script type="text/javascript"> 
     $("#openProjects a").click(function(e){
      e.preventDefault()
      $(this).tab("show")
     });
     </script>
    {% endblock tab_myprojects %}
   
  </div>

</div>