extends ./partials/_base.jade
{% load thumbnail %}
block title
  title 43Layers - My Account

block content
  include  ./partials/_header.jade
  .content
    .container
      .my-account
        h1.text-center My Account
        //.profile#profile
         
          .row
            .col-md-3
              - comment
              if profile_pic == False
                p add a profile picture.
                form(role="form", action="{% url 'my_account' %}", enctype="multipart/form-data", method="POST")
                  .form-group
                    - csrf_token
                    input(type="file", name="profile_pic")
                  button.btn.btn-primary(type="submit", value="submit") Add
              else
                {% thumbnail profile_pic "100x100" crop="center" as im %}
                img(src="{{im.url}}")
                {% endthumbnail %}
              - endcomment
            -comment
            .col-md-7
              .row
                .col-md-12
                  .col-md-4
                  .col-md-4
                    h3.name Welcome, {{request.user.first_name}} {{request.user.last_name}}
            -endcomment    
                -comment
                .col-md-12
                  if description == None
                   form(role="form", action="#", method="POST")
                    - csrf_token
                    .form-group
                      label(for="description").col-sm-3.control-label Add a description
                      div.col-sm-6
                        input.form-control(type="text", id="description", name="description")
                      button.btn.btn-primary(type="submit", value="submit") Update
                  else
                    p.description {{description}}
                -endcomment
                .col-md-12
                  .row
                    .col-md-7
                      -comment
                      if location == None 
                        a(href="#") Add a Location
                      
                      else
                        {{location}}
                      -endcomment
                   
                      
                     -comment
                    .col-md-5.social
                        p
                          a(href='https://www.facebook.com/pages/43Layers/273568439486440')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-facebook.fa-stack-1x.fa-inverse
                          a(href='https://twitter.com/43Layers')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-twitter.fa-stack-1x.fa-inverse
                          a(href='http://instagram.com/43layers')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-pinterest.fa-stack-1x.fa-inverse
                          a(href='http://www.pinterest.com/43layers')
                            span.fa-stack
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-instagram.fa-stack-1x.fa-inverse
                    -endcomment
                -comment
                .col-md-2
                  
                    a(href="#").btn.btn-default.btn-block  Edit Profile
                -endcomment
        .row
          .col-md-3
            h2 Menu
            .menu
              ul.menu-links
             
                //li
                  a(href="#profile") My Profile
              
              
                //li
                  a(href="#notifications") Notifications
                
              
                //li
                  a(href="#") My Messages
                //li
                  a(href="#current-projects") Current Projects
              
                //li
                  a(href="#order-history") Order History
             
                li
                  a(href="#") Current Orders

                li
                  a(href="#order-history") Order History
                li
                  a(href="#settings") Settings
                li
                  form(role="form", action="{% url 'logout' %}", method="POST")
                    - csrf_token
                    input(type="hidden", name="user_instance", value="request.user.id")
                    a(href="{% url 'logout' %}", value='submit') Logout
          -comment
          .col-md-9
            h2 Notifications
            .notifications#notifications
              ul
                li Your designer has submitted a rendering.
                li You have submitted your deposit and started your project.
                li You have been assigned a designer.
                li You submitted project: "Keys to Love". We are in the process of finding  you an expert designer to bring your project to life.
                li Welcome to 43Layers! Thanks for signing up!
                li
                  a(href="#") More
           -endcomment


          .col-md-9
            h2 Current Projects
            .current-projects#current-projects
              .table-responsive
                table.table
                  if projects
                    for i in projects
                      tr
                        th Project Name
                        th Budget
                        th Due Date
                        th Ship Status
                        th
                      tr
                        td {{i.title}}
                        td ${{i.budget_min}} - ${{i.budget_max}}
                        td {{i.due_date}}
                        td {{i.project_status}}
                        td
                          form(role='form', method="GET", action="{% url 'project_status' %}")
                            input(type='hidden', name='project_id', value='{{i.id}}')
                          
                            button(type="submit", style="color:#20CB92; background:transparent; border:none;",  value="submit") View
                             
                  else
                    p No Projects have been submitted to date.

                
                a.btn.btn-default(href="{% url 'add_project' %}") Add a Project     
            h2 Order History
            .order-history#order-history
              .table-responsive
                table.table
                  if completed_projects
                    for project in completed_projects
                      tr
                        th Project Name
                        
                      tr
                        td {{project.title}}
                          span(aria-hidden="true").glyphicon.glyphicon-star
                          span(aria-hidden="true").glyphicon.glyphicon-star
                          span(aria-hidden="true").glyphicon.glyphicon-star
                          span(aria-hidden="true").glyphicon.glyphicon-star
                          span(aria-hidden="true").glyphicon.glyphicon-star-empty
                 p No orders have been completed to date.
           
            h2 Settings
            .settings#settings
              if messages
                for message in messages
                  if message.tags = 'success'
                    div.alert.alert-success {{message}}
                  if message.tags = 'error'
                    div.alert.alert-danger {{message}}
              form.form-horizontal(role="form", id="update_settings", action="{% url 'update_settings'%}", method="POST")
                - csrf_token
                .form-group
                    if email != false
                      label.col-sm-3.control-label(for="email_current") Your current email is:
                      div.col-sm-6
                        input.form-control(type='text', value='{{email}}', id="email_current", name="email")


                   
                .form-group
                  label.col-sm-3.control-label(for="NewsLetter") Newsletter:
                  div.col-sm-6
                    {% if newsletter == True %}
                    input.form-control(type="checkbox", onChange="NewsLetter()", value="{{newsletter}}", id="Newsletter", name="news_letter", checked)
                    {% endif %}
                    {% if newsletter == False %}
                    input.form-control(type="checkbox", onChange="NewsLetter()", value="{{newsletter}}", id="Newsletter", name="news_letter")
                    {%endif%}
                    
                 
                .form-group
                  label.col-sm-3.control-label(for="EmailNotifications") Email Notifications:
                  div.col-sm-6
                    {% if email_notification == True %}
                    input.form-control(type="checkbox", onChange="emailnoties()", name="notification_emails", id="EmailNotifications", value="{{email_notification}}", checked) 
                    {%endif %}
                    {% if email_notification == False %}
                    input.form-control(type="checkbox", onChange="emailnoties()", name="notification_emails", id="EmailNotifications", value="{{email_notification}}")
                    {%endif%}
          

              .form-group
                .col-sm-2.col-sm-offset-1
                  
                  button(type="submit", value="submit", form="update_settings").btn.btn-primary Save
                .col-sm-2.col-sm-offset-1
                  button(type="submit").btn.btn-default Deactivate Account
                    

  include ./partials/_footer.jade
