extends ./partials/_base.jade

block title
  title 43Layers - Submit Your Idea

block content
  include  ./partials/_header.jade
  .content
    .submit-your-idea
      h1.text-center Step 1: Submit Your Idea
      .container
        .row.text-center.process
          .col-md-3
            h3 1. Submit Your Idea
              a.submit.center-block
          .col-md-3
            h3 2. Meet Your Designer
              a.meet.center-block
          .col-md-3
            h3 3. View Digital Preview
              a.view.center-block
          .col-md-3
            h3 4. Hold In Your Hands
              a.hold.center-block
        ul.nav.nav-pills.process-mobile
          li.active
          li
          li
          li
        .row
          .col-md-4
            h2 Background Information
          .col-md-8
            p
              | Fill out the forms below to describe your product idea. This brief will be reviewed and used by your designer to bring your idea your life.
        .form
          .row
            .col-md-8.col-md-offset-4
              {% if messages %}
              {% for message in messages %}
              {% if messages.tags == error %}
              div.alert.alert-danger{{message}}
              {%endif%}
              {%endfor%}
              {%endif%}
              if add_project
                form#background_info(role='form', action="{% url 'add_project' %}", method="POST")
                  - csrf_token
                  if forms.newprojectform
                    for field in forms.newprojectform
                      if field.is_hidden
                        pass
                      else
                        .form-group
                          {{field.label_tag}} {{field}}
                    .row
                      .col-md-6
                        .form-group
                          label(for='budget') Budget Range: 
                          input.form-control#budgetmin(name='budget_min', placeholder='eg. Min $100')
                      .col-md-6
                        .form-group
                          label(for="budgetmax")
                          input.form-control#budgetmax(name="budget_max", placeholder="eg. $1000")
                  .form-group
                    button.btn.btn-xlarge.btn-primary(type="submit", value="submit", form="background_info") Next

              else
                form#background_info(role="form", action="{% url 'get_started' %}", method="POST")
                  - csrf_token
                  {% if forms.userform %}
                  {% for field in forms.userform %}
                  .form-group
                    {{field.label_tag}} {{field}}
                  {%endfor%}
                  {%endif%}
                  {% if forms.newprojectform %}
                  {% for field in forms.newprojectform%}
                  .form-group
                    if field.is_hidden
                        pass
                    else
                      {{field.label_tag}} {{field}}
                  {%endfor%}
                  {%endif %}
                  {%if email %}
                  .form-group
                    input.form-control(type="text", name="email", value="{{email}}", disabled)
                  {%endif%}
                  {% if projectform %}
                  {% for field in projectform %}
                  .form-group
                  
                    {{field.label_tag}} {{field}}
                  {%endfor%}
                  {%endif%}
                  .row
                    .col-md-6
                      .form-group(style="margin-top:-80px;")
                        label(for='budget_min') budget Range: 
                        input.form-control#budget_min(name='budget_min', placeholder='eg.$100')
                    .col-md-6
                      .form-group(style="margin-top:-74.9px;")
                        label(for='budget_max')
                        input.form-control#budget_max(name="budget_max", placeholder='eg. $500') 
                  .form-group
                    p.subheading(style="font-weight:800") * indicates required field
                    button.btn.btn-xlarge.btn-primary(type="submit", value="submit", form="background_info") Next


          .row
            .col-md-8.col-md-offset-4.guarantee
              .row
                .col-xs-2
                  span(aria-hidden="true").glyphicon.glyphicon-ok
                .col-xs-10
                  p.heading
                    | 100% money back guarantee
                  p.subheading
                    | A product you love or your money back

  include ./partials/_footer.jade
