extends ./partials/_base.jade

block title
	title 43Layers - Project Status

block content
	include ./partials/_header.jade
	.content
		include ./partials/models.html
		.submit-your-idea
			//- H1 UP TOP
			if project.project_status == "submit_idea"
				h1.text-center Step 1: Submit Your Idea
			elif project.project_status == "design_center"
				h1.text-center Step 3: Design Center

			elif project.project_status == "Shipping"
				h1.text-center Step 4: Hold In Your Hands

			elif project.project_status == "manufacturing"
				h1.text-center Step 4: Hold In Your Hands

			elif project.project_status == "assigning_designer"
				h1.text-center Step 2: Meet Your Designer
				h1 hello
			//- END OF H1 UP TOP
			.container
				//- ICONS UP TOP
				.row-text-center.process
					.col-md-3
						h3 1. Submit Your Idea
							{% if project.project_status == "submit_idea" %}
							a.submit-active.center-block
							{% else %}
							a.submit.center-block
							{%endif %}

					.col-md-3
						h3 2. Meet Your Designer
							{% if project.project_status == "assigning_designer" %}
							a.meet-active.center-block
							{% else %}
							a.meet.center-block
							{%endif %}
					.col-md-3
						h3 3. View Digital Preview
							{% if project.project_status == "design_center" %}
							a.view-active.center-block
							{% else %}
							a.view.center-block
							{%endif %}
					.col-md-3
						h3 4. Hold In Your Hands
							{% if project.project_status == "manufacturing" %}
							a.hold-active.center-block
							{% elif project.project_status == "Shipping" %}
							a.hold-active.center-block
							{% else %}
							a.hold.center-block
							{% endif %}
				ul.nav.nav-pills.process-mobile
					li.active
					li
					li
					li
			//- END OF COMMENTS UP TOP
			
		