extends ./partials/_base.jade
{% load thumbnail %}

block title
	title 43Layers - Prpject Status

block content
	include ./partials/_header.jade
	.content
		.container
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 project title:
				.col-md-3
					h1 {{project.title}}
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 project status:
				.col-md-3
					h1 {{project.project_status}}
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 Designer Assigned:
				.col-md-3
					h1 {{project.designer_assigned}}
			if photos == 'None'
				.row(style="margin-top:5%;")
					.col-md-3
					.col-md-3
						h1 Photos
					.col-md-3
						h1 You did not submit photos
			else
				.row(style="margin-top:5%;")
					.col-md-3
					.col-md-3
						h1 Photos:
					.col-md-5
						{% for photo in photos %}
							{% thumbnail photo.image "100x100" as image %}
							img(src="{{image.url}}", width='{{image.width}}', height="{{image.height}}")
							{% endthumbnail %}
						{%endfor%}





				

