extends ./partials/_base.jade

block title
	title 43Layers - Project Status

block content
	include ./partials/_header.jade
	.content
		include ./partials/models.html
		.submit-your-idea
			//- H1 UP TOP
			if project.project_status == "submit_idea"
				h1.text-center Step 1: Submit Your Idea
			elif project.project_status == "design_center"
				h1.text-center Step 3: Design Center

			elif project.project_status == "Shipping"
				h1.text-center Step 4: Hold In Your Hands

			elif project.project_status == "manufacturing"
				h1.text-center Step 4: Hold In Your Hands

			elif project.project_status == "assigning_designer"
				h1.text-center Step 2: Meet Your Designer
				h1 hello
			