extends ./partials/_base.jade
{% load thumbnail %}

block title
	title 43Layers - Project Status

block content
	include ./partials/_header.jade
	.content
		.submit-your-idea
			.container
				.row-text-center.process
					.col-md-3
						h3 1. Submit Your Idea
							a.submit.center-block
					.col-md-3
						h3 2. Meet Your Designer
							a.meet.center-block
					.col-md-3
						h3 3. View Digital Preview
							a.view.center-block
					.col-md-3
						h3 4. Hold In Your Hands
							a.hold.center-block
				ul.nav.nav-pills.process-mobile
					{% if project.project_status == "submit_idea" %}
					li.active
					{%endif %}
					{% if project.project_status == "design_center"%}
					li.active
					{%endif %}
					{% if project.project_status == "Shipping" %}
					li.active
					{%endif %}
					{% if project.project_status == "Complete" %}
					li.active
					{%endif%}
		.container
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 project title:
				.col-md-3
					h1 {{project.title}}
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 project status:
				.col-md-3
					{% if project.project_status == "submit_idea" %}
					h1 submit idea
					{% endif %}
					
			.row(style="margin-top:5%;")
				.col-md-3
				.col-md-3
					h1 Designer Assigned:
				.col-md-3
					h1 {{project.designer_assigned}}
			if photos == 'None'
				.row(style="margin-top:5%;")
					.col-md-3
					.col-md-3
						h1 Photos
					.col-md-3
						h1 You did not submit photos
			else
				.row(style="margin-top:5%;")
					.col-md-3
					.col-md-3
						h1 Photos:
					.col-md-5
						for photo in photos
							img(src="{{photo.image.url}}", width="100", height="100")





				

