extends ./partials/_base.jade

block title
  title 43 Layers - Sign Up

block content
  include ./partials/_header.jade
  .content
    .login
      .container
        .row
          .col-md-4.col-md-offset-4
            h1.text-center Sign Up
            {% if first_name %}
            p You're almost there {{first_name}}
            {%endif%}
            {%if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            div.alert.alert-success {{message}}
            {%endif%}
            {% if message.tags == 'error' %}
            div.alert.alert-danger {{message}}
            {%endif%}
            {%endfor%}
            {%endif%}
            if email
              form(role="form", id="signup_form", method="POST", action="{% url 'complete_signup' %}")
                - csrf_token
                .form-group
                  input.form-control(type="text", name="email", value='{{email}}', disabled)
                  input.form-control(type="hidden", name='profile', value='{{profile}}')
                .form-group
                  input.form-control(type="password", name="password1", placeholder="Password")
                .form-group
                  input.form-control(type="password", name="password2", placeholder="Confirm Password")
              button.btn.btn-primary.btn-block(type="submit", value="submit", form="signup_form") Sign Up
            else
              form(role="form", id='signup_form', method="POST", action="{% url 'signup'%}")
                - csrf_token
                if forms
                  for field in forms
                    .form-group
                      {{field.label}} {{field}}
                  .form-group
                  button.btn.btn-primary.btn-block(type="submit", value="submit") Signup


            p.signup(style="padding-top:15px;")
              | Already have an account? 
              a(href="{% url 'login' %}") Log in
            br
            p.signup(style="padding-bottom:15px;") 
              | By joining 43 Layers, I agree to 43 Layers 
              a(href="{% url 'terms' %}") terms
  include ./partials/_footer.jade